@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container-pokedex{
  background: url('./style/background.png') transparent 122% -36% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  height: 1131px;
  margin: auto;
  opacity: 1;
  position: relative;
  text-transform: capitalize;
  width: 1440px;
}
