@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  text-transform: capitalize;
}

.container-pokedex{
  background: url('./images/background.png') transparent 122% -36% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 1;
  position: relative;
  text-transform: capitalize;
  /* width: 100vw; */
}

@media (max-width: 600px){
  .container-pokedex{
    background: url('./images/background.png') transparent 140% -6% no-repeat padding-box;
    background-size: 320px;
    width: 428px;
  }
}